<abp-modal [(visible)]="isModalOpen" [options]="{ windowClass: 'quiz-form-modal' }">
  <ng-template #abpHeader>
    <h3 *ngIf="!selectedItem.id">{{ '::NewQuiz' | abpLocalization }}</h3>
    <h3 *ngIf="selectedItem.id">
      {{ '::Edit' | abpLocalization }}
      {{ selectedItem.title }}
    </h3>
  </ng-template>

  <ng-template #abpBody>
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="mt-2">
        <label for="title">{{ '::Title' | abpLocalization }}</label>
        <span class="text-danger">*</span>
        <input id="title" class="form-control" formControlName="title" required />
      </div>

      <div class="mt-2">
        <label for="description">{{ '::Description' | abpLocalization }}</label>
        <textarea id="description" class="form-control" formControlName="description"></textarea>
      </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button
      id="btn-save-quiz"
      class="btn btn-primary"
      (click)="save()"
      [disabled]="form.invalid || isSaving"
    >
      <i class="fa fa-check mr-1"></i>
      {{ '::Save' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>
