<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">
          {{ '::Menu:Quizzes' | abpLocalization }}
        </h5>
      </div>
      <div class="text-end col col-md-6"></div>
    </div>
  </div>
  <div class="card-body">
    <ngx-datatable [rows]="data.items" [count]="data.totalCount" [list]="list" default>
      <ngx-datatable-column
        [name]="'::Title' | abpLocalization"
        prop="title"
      ></ngx-datatable-column>
      <ngx-datatable-column
        [name]="'::Description' | abpLocalization"
        prop="description"
      ></ngx-datatable-column>
      <ngx-datatable-column [name]="'::Created' | abpLocalization" prop="creationTime">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.creationTime | shortDateTime }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        [name]="'::Actions' | abpLocalization"
        prop="creationTime"
        [maxWidth]="150"
        [sortable]="false"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div ngbDropdown container="body" class="d-inline-block">
            <button
              class="btn btn-sm dropdown-toggle"
              id="btn-quizzes-actions-dropdown"
              data-toggle="dropdown"
              aria-haspopup="true"
              ngbDropdownToggle
            >
              <i class="fa fa-cog me-1"></i>{{ '::Actions' | abpLocalization }}
            </button>
            <div ngbDropdownMenu>
              <button
                *abpPermission="'QuizHero.Quizzes.Edit'"
                id="btn-edit-quiz"
                ngbDropdownItem
                (click)="formModal.edit(row.id)"
                [disabled]="list.isLoading$ | async"
              >
                {{ '::Edit' | abpLocalization }}
              </button>
              <button
                *abpPermission="'QuizHero.Quizzes.Delete'"
                id="btn-delete-quiz"
                ngbDropdownItem
                (click)="delete(row.id)"
                [disabled]="list.isLoading$ | async"
              >
                {{ '::Delete' | abpLocalization }}
              </button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<app-quiz-form-modal (saved)="onSaved()"></app-quiz-form-modal>
